@using System.Globalization
@using PetrSvihlik.Com.Models.ContentTypes
@model PagedContent<Article>

@foreach (var article in Model.Items)
{
    var isExternal = !string.IsNullOrWhiteSpace(article.CanonicalUrl);
    var link = isExternal ? article.CanonicalUrl : @IExecutionContext.Current.GetLink($"/posts/{article.Slug}");
    var externalIcon = isExternal ? @"&nbsp;<i class=""icon-link-ext""></i>" : "";

    <div class="article">
        <div><time class="article__meta-time" datetime="@article.PublishDate?.ToString("yyyy-MM-dd", CultureInfo.InvariantCulture.DateTimeFormat)">@article.PublishDate?.ToString("MMMM yyyy", System.Globalization.CultureInfo.InvariantCulture.DateTimeFormat)</time><span class="article__meta-divider"></span><span class="article__meta-category"><a class="article__meta-category-link" href="@IExecutionContext.Current.GetLink($"/category/{article.SelectedCategory.Slug}")">@Html.Raw(string.Join(", ", article.SelectedCategory.Title))</a></span></div>
        <h2 class="article__title"><a class="article__title-link" href="@link">@article.Title@Html.Raw(externalIcon)</a></h2>
        <p class="article__description">@article.Description</p>
        <a class="article__readmore" href="@link">Read @Html.Raw(externalIcon)</a>
    </div>
}

@if (Model.TotalPages > 1)
{
    var homeUrl = IExecutionContext.Current.GetLink("/");
    <div class="pagination">
        <div class="pagination__prev"><a aria-current="page" rel="prev" class="pagination__prev-link @(Model.Previous != null ? "" : "pagination__prev-link--disable")" href="@(Model.Previous?.Url ?? homeUrl)">← PREV</a></div>
        <div class="pagination__next"><a rel="next" class="pagination__next-link @(Model.Next != null ? "" : "pagination__next-link--disable") " href="@(Model.Next?.Url ?? homeUrl)">NEXT →</a></div>
    </div>
}
