@using PetrSvihlik.Com.Models.ContentTypes
@using PetrSvihlik.Com.Models.ViewModels
@model SidebarViewModel
@{
    var author = Model.Author;
}

<div class="sidebar__author">
    <a href="@IExecutionContext.Current.GetLink("/")">
        <img src="@IExecutionContext.Current.GetLink("/assets/img/avatar.jpg")"
             class="sidebar__author-photo"
             width="75"
             height="75"
             alt="@author.Name" />
    </a>
    @{
        var tag = Model.IsIndex ? "h1" : "h2";
    }

    <@tag class="sidebar__author-title">
        <a class="sidebar__author-title-link" href="@IExecutionContext.Current.GetLink("/")">@author.Name</a>
    </@tag>
    <p class="sidebar__author-subtitle">@author.Bio</p>
</div>
